<div id="form">


<img class="img" src="\assets\form.png" width="70px">
  <h1>Registro</h1>

  <form [formGroup]= "formulario" (ngSubmit)="submitForm()">


    <mat-form-field class="login" appearance="fill">
        <mat-label>Número de Socio</mat-label>
        <input matInput id="nSocio" formControlName="nSocio" name="nSocio">
    </mat-form-field>

    <mat-form-field class="login" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput id="nombre" formControlName="nombre" name="nombre">
    </mat-form-field>

    <mat-form-field class="login" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput id="apellido" formControlName="apellido" name="apellido">
    </mat-form-field>


    <mat-form-field class="login" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput id="dni" formControlName="dni" name="dni">
    </mat-form-field>

    <mat-form-field class="login" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput id="telefono" formControlName="telefono" name="telefono">
    </mat-form-field>

    <mat-radio-group class="login" id="sexo" formControlName="sexo" name="sexo">
      <mat-label>Sexo</mat-label>
      <mat-radio-button class="radio" value="Hombre"><mat-icon>man</mat-icon>Hombre</mat-radio-button>
      <mat-radio-button class="radio" value="Mujer"><mat-icon>woman</mat-icon>Mujer</mat-radio-button>
      <mat-radio-button class="radio" value="NE"><mat-icon>all_inclusive</mat-icon>No Especificado</mat-radio-button>
    </mat-radio-group>


    <button type="submit" mat-raised-button color="primary" id="boton-enviar">Enviar</button>
</form>
</div>
<div id="contList">

  <img class="img" src="\assets\list.png" width="70px">
  <h1>Lista Clientes</h1>
  <mat-list id="lista-socios">
      <mat-list-item *ngFor="let s of socios" class="elemento-lista">
          <div class="contenedor-botones">
              <button class="boton" mat-raised-button color="accent" (click)="s == socioMod ? socioFinal($event, s) : editSocio($event, s)">{{ s == socioMod ? "Hecho" : "Modificar" }}</button>
              <button class="boton" mat-raised-button color="basic" (click)="deleteSocio($event, s)">Eliminar</button>
          </div>

          <div>
              <span class="dato">{{ s == socioMod ? formulario.value.nSocio : s.nSocio }}</span>
              <span class="dato">{{ s == socioMod ? formulario.value.nombre : s.nombre }}</span>
              <span class="dato">{{ s == socioMod ? formulario.value.apellido : s.apellido }}</span>
              <span class="dato">{{ s == socioMod ? formulario.value.dni : s.dni }}</span>
              <span class="dato">{{ s == socioMod ? formulario.value.telefono : s.telefono }}</span>
              <span class="dato">{{ s == socioMod ? formulario.value.sexo :s.sexo }}</span>
          </div>
      </mat-list-item>
  </mat-list>
</div>
